<html>
    <body>
        <%= session.title  %> <br>
        <%= session.speakers.name %> <br>
        Speaker Bio: <%= session.speaker.bio  %> <p></p>
        <%= session.description %> <br>

    </body>
</html>